                /* Impoorts */
                @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

                /* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}
                /* Hero section */
.herosection{
    background: #f5f5f5;
}

.herosection h1{
    font-weight: bold;
    font-size: 56px;
}

.herosection p{
    font-weight: normal;
    font-size: 24px;
    color: #333;
    margin: 30px 0 0 0;
}

.centered {
    width: 80%;
    margin: 0 auto;
    padding: 240px 0;
    text-align: center;
    justify-content: center;
}

                /* Section 1 */
.sec{
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}

.sec-right{
    flex: 4;
    padding: 0 0 0 25px;
    text-align: center;
    align-self: center;
}

.sec-left{
    flex: 4;
    align-self: center;
    text-align: end;
    text-transform: capitalize;
}

.sec-left h1{
    font-weight: bold;
    font-size: 56px;
}

.sec-left h4{
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
}

.sec-left p{
    font-weight: normal;
    font-size: 18px;
    color: #333;
}

.sec-right img{
    width: 80%;
    height: 80%;
    box-shadow: 0 0 50px rgba(0,0,0,0.16);
    margin: 15px;
    border-radius: 20px;
}

.center{
    text-align: center;
}

.components{
    width: 80%;
    margin: 0 auto;
}

.components img{
    width: 100%;
    margin: 70px 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.16);
    border-radius: 20px;
}

footer{
    padding: 50px;
    background: #f5f5f5;
    text-align: center;
}

.address{
    margin: 20px 0 10px 0;
}

.social img{
    margin: 50px 20px;
}

@media(min-width:1440px){
    .sec{
        max-width: 60%;
    }
}

@media (max-width:840px){
    .centered{
        padding: 100px 0;
    }

    .herosection h1{
        color: #000;
        font-size: 36px;
    }

    .herosection p{
        color: #333;
        font-size: 14px;
    }

    h1{
        font-size: 36px !important;
    }

    h4{
        font-size: 18px !important;
    }

    p{
        font-size: 14px !important;
    }

    .centered{
        top: 30%;
    }

    .sec{
        flex-direction: column;
    }

    .sec-left{
        text-align: center;
        margin: 20px 20px 70px 20px;
    }

    .sec-right{
        padding: 0;
    }

    .sec-right img{
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}